body{
  background-color: #D46A6A;
  text-align: center;
 
}
button{
  background-color: aliceblue;
}

#animals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.petCards {
  
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #AA3939;
  box-shadow: 2px 2px #550000;
  display: flex;
  justify-content: center;
  flex-flow: column wrap ;
  align-items: center;
  border-radius: 10px;
}
.petCards img {
  width: 200px; /* width of container */
  height: 250px; /* height of container */
  object-fit: cover;
  border: 5px solid black;  
    
}
.myBtn{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
 
  
}
.myBtn li{
  background-color: #FFAAAA;
  width: 70px;
  height: 30px;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

